@model IEnumerable<WebBanHangOnline.Models.ShoppingCartItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="cart" class="main-cart container-fluid">
    <div class="row">
        <div class="col col-half">
            <div class="title-1">
                <h3>GIỎ HÀNG</h3>
            </div>
            <div class="allCart">
                <div class="product-cart main-cart-left">
                    @{
                        var TotalPrice = 0;
                    }
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            TotalPrice += item.TotalPrice;
                            <div class="product-info" id="row_@item.ProductId">
                                <div class="col col-big item-2">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="@item.ProductImg" width="250" height="250">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <a href="#">
                                                <h4 class="media-heading">@item.ProductName</h4>
                                            </a>
                                            <h4 class="price">
                                                Giá: <span class="normal">@item.Price.ToString("#,##0")VNĐ</span>
                                            </h4>
                                            <div class="row bottom">
                                                <div class="center" style="margin-left:-10px">
                                                    <div class="input-group" style="width:30%;display: inline-flex;">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-danger btn-number" data-type="minus" data-field="quant[@item.ProductId]" style="height: 30px;width: 30px;margin: 0;border: none;background-color: red;">
                                                                <span class="glyphicon glyphicon-minus"> - </span>
                                                            </button>
                                                        </span>
                                                        <input type="text" name="quant[@item.ProductId]" class="form-control input-number" id="Quantity_@item.ProductId" value="@item.Quantity" min="1" max="100" style="text-align:center;height: 33px;width: 100px;margin-top: 3px;">
                                                        <span class="input-group-btn" style=" height: 3; margin: 0;">
                                                            <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[@item.ProductId]" style=" height: 20; width: 30px; height: 30px; background-color: greenyellow; border: none;">
                                                                <span class="glyphicon glyphicon-plus"> + </span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-third item-2-1 media-right">
                                    <div class="button btnDelete" data-id="@item.ProductId">
                                        <i class="fa-solid fa-trash"></i>
                                    </div>
                                    <div class="button btnUpdate" data-id="@item.ProductId" style=" text-align: center;  background: green; padding: 7px;">
                                        <i class="fa-solid fa-refresh"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="divider-dashed"></div>
                        }
                    }
                    else
                    {
                        <p>Không có sản phẩm nào</p>
                    }
                </div>
            </div>
        </div>
        <div class="col-third ">
            <ul class="bill">
                <li class="group_title">ĐƠN HÀNG</li>
                <li class="divider"></li>
                <li class="promotion">
                    <h4>NHẬP MÃ KHUYẾN MÃI</h4>
                    <input type="text">
                    <button>ÁP DỤNG</button>
                </li>
                <li class="group_item"></li>
                <li class="divider-dashed"></li>
                <li class="group_item total small">
                    <span>Đơn hàng</span>
                    <span id="price">@TotalPrice.ToString("#,##0") VNĐ</span>
                </li>
                <li class="group_item discount small">
                    <span>Giảm giá</span>
                    <span id="price" class="normal">0 VNĐ</span>
                </li>
                <li class="divider-dashed"></li>
                <li class="group_item total">
                    <span class="black">TẠM TÍNH</span>
                    <span id="price" class="black">@TotalPrice.ToString("#,##0") VNĐ</span>
                </li>
                <li class="group_item">
                    <input type="submit" value="TIẾP TỤC THANH TOÁN" class="submitBtn">
                </li>
            </ul>
        </div>
</section>
