@model IEnumerable<WebBanHangOnline.Models.ShoppingCartItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="cart" class="main-cart container-fluid">
    <div class="row">
        <div class="col col-half">
            <div class="title-1">
                <img src="https://media.discordapp.net/attachments/961253752772374590/1057962437699182622/cart.png?width=1440&height=356" alt="pic"/>
            </div>
            <div class="allCart">
                <div class="product-cart main-cart-left">
                    @{
                        var TotalPrice = 0;
                    }
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            TotalPrice += item.TotalPrice;
                            <div class="product-info" id="row_@item.ProductId">
                                <div class="col col-big item-2">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="@item.ProductImg">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <a href="#">
                                                <h4 class="media-heading">@item.ProductName</h4>
                                            </a>
                                            <h4 class="price">
                                                Giá: <span class="normal">@item.Price.ToString("#,##0") VNĐ</span>
                                            </h4>
                                            <div class="row bottom">
                                                <div class="center" style="margin-top: -10px; ">
                                                    <div class="input-group" style="width:100%;display: inline-flex;background-color:white;border-radius:18px; border: 1px solid grey;">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-danger btn-number" data-type="minus" data-field="quant[@item.ProductId]" style="width:auto; margin: 0; border:none;cursor:pointer;background-color:white;">
                                                                <span style ="font-size:25px;color:black; "class="glyphicon glyphicon-minus"> - </span>
                                                            </button>
                                                        </span>
                                                        <input type="text" name="quant[@item.ProductId]" class="form-control input-number" id="Quantity_@item.ProductId" value="@item.Quantity" min="1" max="100" style="font-size: 20px; text-align: center; width: 70px; margin: 0; border-top: none; border-bottom: none; border-left: 1px solid grey; border-right: 1px solid grey; ">
                                                        <span class="input-group-btn" style=" margin: 0; margin-top: 4.5px">
                                                            <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[@item.ProductId]" style="width:auto; margin: 0; border:none;cursor:pointer;background-color:white;">
                                                                <span style="font-size:22px;color:black;" class="glyphicon glyphicon-plus"> + </span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-third item-2-1 media-right">
                                    <div class="button btnDelete" data-id="@item.ProductId">
                                        <i class="fa-solid fa-trash"></i>
                                    </div>
                                    <div class="button btnUpdate" data-id="@item.ProductId" style=" text-align: center; background: #f15e2c; padding: 7px;">
                                        <i class="fa-solid fa-refresh"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="divider-dashed"></div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-third ">
            <ul class="bill">
                <li class="group_title">ĐƠN HÀNG</li>
                <li class="divider"></li>
                <li class="promotion">
                    <h4>NHẬP MÃ KHUYẾN MÃI</h4>
                    <input type="text">
                    <button>ÁP DỤNG</button>
                </li>
                <li class="group_item"></li>
                <li class="divider-dashed"></li>
                <li class="group_item total small">
                    <span>Đơn hàng</span>
                    <span id="price">@TotalPrice.ToString("#,##0") VNĐ</span>
                </li>
                <li class="group_item discount small">
                    <span>Giảm giá</span>
                    <span id="price" class="normal">0 VNĐ</span>
                </li>
                <li class="divider-dashed"></li>
                <li class="group_item total">
                    <span class="black">TẠM TÍNH</span>
                    <span id="price" class="black">@TotalPrice.ToString("#,##0") VNĐ</span>
                </li>
                <li class="group_item">
                    <a href="/shoppingcart/checkout"><input type="submit" value="TIẾP TỤC THANH TOÁN" class="submitBtn"></a>
                </li>
            </ul>
        </div>
     </div>
</section>
